<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjfu.androidlib">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-feature android:name="android.hardware.Camera" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"></application>

</manifest>